/* Body */
body {
    background: url(../img/bg.jpg);
}

* {
    margin: 0;
    padding: 0;
}

label {
    color: white;
}

hr {
    margin-top: 2% !important;
    display: block;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.row{
    margin: 1% 0;
}

/* Form */
.form-div {
    border:1px solid;
    border-color: white;
    padding: 7%;
}


.page-btn{
    margin-top: 2%;
}

#carrello{
    width: 30%;
    height: 30%;
}

#searchInput{
    width: 80%;
}

/* Footer */
a {
    color: white;
}

a:hover{
    color: #007bff;
}