/* Body */
body {
    background: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

label {
    color: white;
}

hr {
    margin-top: 2% !important;
    display: block;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.row{
    margin: 1% 0;
}

/* Form */
.form-div {
    border: 1px solid;
    border-color: white;
    padding: 7%;
}

th{
    width: 33%;
}

.scrollable-menu {
    height: auto;
    max-height: 350%;
    overflow-x: hidden;
}

.page-btn{
    margin-top: 2%;
}

/* Footer */
a {
    color: white;
}

a:hover{
    color: #007bff;
}

.btn-danger > a:hover{
    color: white;
    text-decoration: none;
}

/* Shopping Cart */
.shopping-cart{
    border:1px solid;
    border-color: white;
}

.trash:hover{
    cursor: pointer;
    color: #007bff;
}

#cart{
    min-height: 20vh;
    max-height: 60vh;
    overflow-y: scroll;
}

/* width */
#cart::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#cart::-webkit-scrollbar-track {
    background:white; 
}

/* Handle */
#cart::-webkit-scrollbar-thumb {
    background: #007bff; 
}

#alert{
    display: none;
}

.cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #222222;
}

.cookie.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookie a {
    text-decoration: underline;
}

.cookie .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.buttonCookie:hover{
    text-decoration: underline;
}

#spinner {
    display: none;
}

.btn-title:hover{
    text-decoration: underline;
}

